NODE_ENV="development"
DATABASE_URL="mysql://kindalist:password@localhost:3306/kindalist"
JWT_ACCESS_SECRET="change_me_to_a_secure_secret_with_at_least_32_chars"
JWT_ACCESS_EXPIRES_IN="15m"
FRONTEND_URL="http://localhost:5173"
PORT=3000
